spring:
  datasource:
    url: ${DB_URL:jdbc:h2:file:./db/cathelp}
    username: ${DB_USER:catmaster}
    password: ${DB_PWD:pwdpwd}
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: false
      path: /console
  sql:
    init:
      mode: always
      continue-on-error: false
      platform: h2
server:
  port: ${SERVER_PORT:8080}
